// Author Makoto Shiraishi

.works {
  color: $word-color;
  .heading {
    font-size: $xl-size;
  }

  .works-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
  }
}

@media(max-width: 768px){
  .works-wrapper{
    display:block;
  }
}