.login{
    width: '100%';
    max-width: 500;
    margin-right: 'auto';
    margin-left: 'auto';
    
    .title{
        margin-left: 100px;
    }
    .button{
        margin-right: 'auto';
        margin-left: 'auto';
    }
    .signup-button{
        text-align: right;
    }
    #component-error-text{
        text-align: center;
        color: red;
    }
}
