.workBox {
  display: table-cell;

  .icon-work{
    color: $main-color;
    margin: 16px;
    font-size: calc(#{$xl-size}*4);
  }

  .workTitle{
    margin: 0 20px 20px;
    font-size: $l-size;
  }

  .workText{
    margin: 0 20px;
    line-height:2;
  }
}

@media(max-width: 768px){
  .workBox{
    display:block;

    .workText{
      margin:0;
    }
  }
}