// Author Makoto Shiraishi

//Colors
$gray: #666;
$main-color: #ffba00;
$sub-color: #00c5ff;
$button-color: #afa58d;
$word-color: black;
$color-white: #fff;
$color-red: #FF0000;
$color-green: #00e66f;




//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$letter-spacing-1: 1px;